  
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
			<h1 class="title is-1 has-text-black">Login</h1>
            <form method="POST">
              {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            {% if category == "error" %}
            <div class="notification is-danger">
              {%else%}
              <div class="notification is-primary">
                {%endif%}
              <button class="delete", name="removeFlash"></button>
              {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
              <div class="field">
                <label class="label">Username or email</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="username_email" placeholder="Username or email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" name="login" class="button is-success">
                    Login
          </button>
          <a href="forgot">Forgot Password?</a>
          <input type="button" class="button is-link" onclick="window.location.href = '/signup'" value="Signup instead">
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>