<p><span style="font-size: 16px;">Hello, {USER}</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 12px;">Someone has requested a password reset on your user with the username: {USER}<br /><br />If you requested this please click <a href="{LINK}">here</a> to reset your password.<br />(If the link above does not work please copy paste this link: {LINK})</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 12px;">If not please ignore this email.<br /><br /><span style="color: #7e8c8d;">For any more questions please reply back to this email.</span></span></p>